<h1>Vorschläge</h1>

<div id="flash" style="height: 25px;"></div>

<% @suggestions.each do |suggestion| %>
  <div class = "suggestion" id="<%= suggestion.id %>">

          <div style="height: 100%; position: relative; float: left; margin: 5px;">
            <%= image_tag(suggestion.image_url, style: 'float: left;max-height: 180px;') if suggestion.image? %>
            <p style="border-radius: 2px;font-size: 9px; color: rgb(182,194,222); position: absolute; right: 5px; bottom: 5px; letter-spacing: 0px; background-color: black; ">am: <%= suggestion.take_place_timestamp.strftime('%d.%m.%Y')  %> <br/> um <%= suggestion.take_place_timestamp.strftime('%H:%M Uhr')  %> </p>
          </div>
          <div style="height: 100%; position: relative; float: left; margin-left: 30px; margin-top: 10px;">
            <strong><%= link_to suggestion.title, suggestion %></strong> <br/>
            von <%= link_to suggestion.creator.firstname, suggestion.creator %>, Teilnehmer: <%= suggestion.users.size %>, Treffpunkt: <%= suggestion.explicit_location %>
            <br/>
            <br/>
            <%= suggestion.description %> <br/>
            <br/>
            <div style="cursor: pointer; display: inline-block;">
              <span onclick="joinsuggestion(<%= suggestion.to_json %>)"><i class="fa fa-check fa-2x"></i>&nbsp;Teilnehmen</span>
              <br/>
              <span onclick="ignoresuggestion(<%= suggestion.to_json %>)"><i class="fa fa-trash fa-2x"></i>&nbsp;&nbsp;Teilnehmen</span>
          </div>
          </div>
  </div>

<% end %>
