<div class="<%= css_class + '_entrycontainer' %>" id="<%= event.id %>">


  <div class="<%= css_class + '_picturecontainer' %>">
    <%= image_tag(event.image_url, :class => "<%= css_class + '_picture' =>" ) if event.image? %>
  </div>

  <div class="<%= css_class + '_infocontainer' %>">
    <div class="<%= css_class + '_titlecontainer' %>">
      <strong><%= link_to event.title, event %></strong>
    </div>

    <div class="<%= css_class + '_descriptioncontainer' %>">
      <%= event.description %>
    </div>

    <div class="<%= css_class + '_metacontainer' %>">
      <div class="<%= css_class + '_creatorcontainer' %>">
        von <%= link_to event.creator.firstname, event.creator %>
      </div>

      <div class="<%= css_class + '_participantscontainer' %>">
        Teilnehmer: <%= event.users.size %> von <%= event.max_participants %>
      </div>

      <div class="<%= css_class + '_locationcontainer' %>">
        Treffpunkt: <%= event.explicit_location %>
      </div>

      <div class="<%= css_class + '_timecontainer' %>">
        am: <%= event.take_place_timestamp.strftime('%d.%m.%Y') %> <br/> um <%= event.take_place_timestamp.strftime('%H:%M Uhr') %>
      </div>
    </div>
  </div>



  <% if view_type == 'suggestion' %>
    <button id="join" type="button" onclick="joinEvent(<%= event.to_json %>)">
      Teilnehmen
    </button>
    <div>
      <button id="ignore" type="button" onclick="ignoreEvent(<%= event.to_json %>)">
        Ignorieren
      </button>
    </div>
  <% end %>

  <% if view_type == 'myevents' %>
    <div class="<%= css_class + '_newscontainer' %>">

    </div>
    <div class="<%= css_class + '_resigncontainer' %>">
      <%= link_to image_tag("default/remove.JPG", size: "50"), :title=>'resign', :class=>'action', :onclick=>"resignEvent(<%= event.to_json =>)"%>
    </div>
  <% end %>

</div>
