<div class="<%= css_class + '_entrycontainer' %>" id="<%= event.id %>" data-distance="<%= if event.respond_to? :distance then event.distance else 0 end %>">


  <div class="<%= css_class + '_picturecontainer' %>">
  	<%= image_tag("events/"+event.hobby_id.to_s+".jpg", :class => css_class + '_picture') %>
  </div>

  <div class="<%= css_class + '_infocontainer' %>">
    <div class="<%= css_class + '_titlecontainer' %>">
      <div class="<%= css_class + '_title' %>">
        <%= link_to event.title, event %>
      </div>
      <% if view_type == 'myevents' %>
        <% if event.creator.id != current_user.id %>
          <div class="<%= css_class + '_resigncontainer' %>">
            <span onclick="resignEvent(<%= event.users_events.find{ |ue| ue.user_id == current_user.id}.to_json %>)">
              <i class="fa fa-trash fa-2x"></i>&nbsp;Austragen
            </span>
          </div>
        <% end %>
      <% end %>
      <% if view_type == 'suggestion' %>
       <% if user_signed_in? %>
         <div class="<%= css_class + '_acceptcontainer' %>">
           <span onclick="joinsuggestion(<%= event.id %>, '<%=event.title %>')">
             <i id="acceptButton" class="fa fa-check fa-2x"></i>&nbsp;Teilnehmen
            </span>
         </div>
         <div class="<%= css_class + '_ignorecontainer' %>">
           <span onclick="ignoresuggestion(<%= event.id %>)">
             <i id="declineButton" class="fa fa-trash fa-2x"></i>&nbsp;&nbsp;&nbsp;Ignorieren
            </span>
         </div>
       <% end %>
      <% end %>
    </div>

    <div class="<%= css_class + '_descriptioncontainer' %>">
      <%= event.description %>
    </div>




    <div class="<%= css_class + '_metacontainer' %>">
      <div class="col-md-3 <%= css_class + '_creatorcontainer' %>">
        von <%= link_to event.creator.firstname, event.creator %>
      </div>

      <div class="col-md-3 <%= css_class + '_participantscontainer' %>">
        Teilnehmer: </br> <%= event.users.size %> von
        <% if event.max_participants < 0 %>
          unbegrenzt
        <% else %>
          <%= event.max_participants %></b>
        <% end %>
      </div>

      <div class="col-md-3 <%= css_class + '_locationcontainer' %>">
        Treffpunkt: </br> <%= event.explicit_location %>
      </div>

      <div class="col-md-3 <%= css_class + '_timecontainer' %>">
        am: <%= event.take_place_timestamp.strftime('%d.%m.%Y') %> <br/> um: <%= event.take_place_timestamp.strftime('%H:%M Uhr') %>
      </div>
    </div>
  </div>

  <% if view_type == 'myevents' %>
    <div class="<%= css_class + '_newscontainer' %>">

    </div>
  <% end %>

</div>
