<div class = "<%= css_class %>" id="<%= event.id %>">

  <% if view_type == 'suggestion' %>

        <div style="height: 100%; position: relative; float: left; margin: 5px;">
          <%= image_tag(event.image_url, style: 'float: left;max-height: 180px;') if event.image? %>
          <p style="border-radius: 2px;font-size: 9px; color: rgb(182,194,222); position: absolute; right: 5px; bottom: 5px; letter-spacing: 0px; background-color: black; ">am: <%= event.take_place_timestamp.strftime('%d.%m.%Y')  %> <br/> um <%= event.take_place_timestamp.strftime('%H:%M Uhr')  %> </p>
        </div>
        <div style="height: 100%; position: relative; float: left; margin-left: 30px; margin-top: 10px;">
          <strong><%= link_to event.title, event %></strong> <br/>
          von <%= link_to event.creator.firstname, event.creator %>, Teilnehmer: <%= event.users.size %>, Treffpunkt: <%= event.explicit_location %>
          <br/>
          <br/>
          <%= event.description %> <br/>
          <br/>
          <button class="join" type="button" onclick="joinEvent(<%= event.to_json %>)">Teilnehmen</button>
          <div><button class="ignore" type="button" onclick="ignoreEvent(<%= event.to_json %>)">Ignorieren</button></div>
        </div>
  <% end %>
</div>
