<div id="<%= event.id %>" class="<%= css_class %>">
  <p><%= event.title %>
  <p><%= event.description %>
  <br/>
  <% if view_type == 'suggestion' %>
    <form action="/users_events" method="POST">
      <button id="join" type="button" onclick="joinEvent(<%= event.id %>)">Teilnehmen</button>
      <button id="ignore" type="button" onclick="ignoreEvent(<%= event.id %>)">Ignorieren</button>
    </form>
  <% end %>
</div>
