<div style="clear:left;" id="<%= event.id %>" class="<%= css_class %>">

  <% if view_type == 'suggestion' %>
        <img style="float: left;" height="100%" src="https://i.ytimg.com/vi_webp/guqf4EZkwHQ/mqdefault.webp"/>

        <div style="float: left; margin-left: 10px;">
          <%= link_to event.title, event %> <br/>
          <%= event.description %> <br/>

          <button id="join" type="button" onclick="joinEvent(<%= event.to_json %>)">Teilnehmen</button>
          <div><button id="ignore" type="button" onclick="ignoreEvent(<%= event.to_json %>)">Ignorieren</button></div>
        </div>
  <% end %>
</div>
