<%= form_for @event do |f| %>

<div class="container">
	<div class="main-content-box">
		<div class="eventheader">
			<div class="eventtitle">
				<h1><%= f.text_field :title, :value => @event.title %></h1>
			</div>
		</div>

		<div>
			<table class="table">
				<tr>
					<td class="col-sm-1"> <%= image_tag(@event.image_url, :size => "200x200", :alt => "Event Pic", :id => "eventpicture", class: "img-responsive") %> </td>
					<td>					<pre> <%= f.text_area :description, :class => "form-control", :value => @event.description %> </pre></td>
				</tr>
			</table>
		</div>

		<table class="table">
			<thead>
				<th>Veranstaltungsinformationen</th>
			</thead>
			<tr>
				<td> Veranstalter </td>
				<td> Veranstaltungszeitraum </td>
				<td> Veranstaltungsort </td>
				<td> Hobby </td>
			</tr>
			<tr>
				<td>
				<div class="creator_image">
					<a href="/users/<%= (@event.creator).id%>"> <%= image_tag((@event.creator).image_url, :size => "85x85", :alt => "Profile Pic", :id => "profilepicture", :class => "item_images") %> </a>
				</div>
				<div class="creator_name">
					<a href="/users/<%= (@event.creator).id%>"> <%= (@event.creator).firstname %>
					<br />
					<%= (@event.creator).lastname %>
				</td>
				</a>
	</div>
	<td>
		<div class="form-group">
			<div class='input-group date' id='datetimepicker2'>
				<%= f.datetime_select :take_place_timestamp, :class => 'form-control' %>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
				$('#datetimepicker2').datetimepicker({
					locale: 'de',
					sideBySide: true
				});
			});
		</script>
	</td>
	<td> <%= f.text_field :explicit_location, :class => "form-control", :value => @event.explicit_location %></td>
	<td> <% @events_hobbies.each do |hobby| %>
	<%= @hobbies.find(hobby.hobby_id).name %> </br>
	<% end %> </td>
	</tr>
	</table>

	<div class="participants">
		<b>Teilnehmer <%= @users_events.size %> von
		<%= f.text_field :max_participants, :class => "form-control", :value => @event.max_participants %> (-1 = unbegrenzt)
		<br />
		<% @users_events.each do |user| %> <a href="/users/<%= user.user_id%>"><%= image_tag((@users.find(user.user_id)).image_url, :size => "60x60", :alt => "Profile Pic", :id => "profilepicture", :class => "item_images") %>
		<%= @users.find(user.user_id).firstname %> </a> <% if current_user.id != user.user_id %>
		<%= link_to "Rauswerfen", users_event_path(user), method: :delete,
		data: {confirm: "Willst du diesen Benutzer wirklich rauswerfen? "}, class: "btn btn-danger" %>
		<% else %>
		<% end %>
		<br />
		<% end %>
	</div>
</div>
</div>
<div class="savebutton">
	<%= f.submit "Speichern", :class => "btn btn-primary" %>
	<%= link_to "Veranstaltung entfernen", event_path(@event), method: :delete,
	data: {confirm: "Willst du diese Veranstaltung wirklich entfernen? "}, class: "btn btn-danger" %>
</div>
<% end %>