
<div class="eventscontrol">
  <div class="eventscontrol-container">

    <table class="table">
      <thead>
        <th>Anzeigeoptionen</th>
      </thead>
      <tr>
        <td> Allgemein </td>
        <td> Hobbies </td>
        <td> Veranstaltungsort </td>
        <td> Veranstalter </td>
      </tr>
      <tr>
        <td>
          <%= render "dropdownCheckboxContainer", input: nil, labelContent: 'Eigene Veranstaltungen', events: @events, type: "Hobby" %>
          <%= render "dropdownCheckboxContainer", input: nil, labelContent: 'Fremde Veranstaltungen', events: @events, type: "Hobby" %>
          <%= render "dropdownCheckboxContainer", input: nil, labelContent: 'Vergangene Veranstaltungen', events: @events, type: "Hobby" %>
        </td>
        <td>
          <% @hobbies.each do |hobby| %>
            <%= render "dropdownCheckboxContainer", input: hobby.id, labelContent: hobby.name, events:  @events.select { |event| event.hobbies.select { |currenthobby| currenthobby.id == hobby.id} }, type: "Hobby" %>
          <% end %>
        </td>
        <td>
          <% @locations.each do |location| %>
            <%= render "dropdownCheckboxContainer", input: location, labelContent: location, events: @events, type: "Hobby" %>
          <% end %>
        </td>
        <td>
          <% @creators.each do |creator| %>
            <%= render "dropdownCheckboxContainer", input: creator, labelContent: creator.firstname, events: @events, type: "Hobby" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="eventslist">
  <div class="eventlist-container">
    <a  id="myEventCreateBottom" class="btn btn-default" href="/events/new">Create new Event</a>
    <% @events.each do |event| %>
      <%= render "eventEntry", event: event, css_class: 'myevents', view_type: 'myevents'  %>
    <% end %>
  </div>
</div>
