
<div class="eventscontrol">
  <div class="eventscontrol-container">
    <div class="eventcheckbox">
      <%= check_box_tag(:myevents_check, 'myevents_flag', true, {:onchange => logger.debug("Change Eigene Events")}) %>
      <%= label_tag(:myevents_check, "Eigene Veranstaltungen") %>
    <br/>
      <%= check_box_tag(:otherevents_check, 'otherevents_flag', true) %>
      <%= label_tag(:otherevents_check, "Fremde Veranstaltungen") %>
    </div>
    <div class="sortoption-container">
      Hier werden die Sortieroptionen eingefügt
    </div>
    <%= link_to image_tag("default/add.JPG", size: "50"), new_event_path, :class => 'addevent_button default-button' %>
  </div>
</div>
<div class="eventslist">
  <div class="eventlist-container">
    <% @events.each do |event| %>
      <%= render "eventEntry", event: event, css_class: 'myevents', view_type: 'myevents'  %>
    <% end %>
  </div>
</div>

<!--
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
