<%= form_for @new_event do |f| %>
				
<div class="container">
	<div class="main-content-box">
		<div class="eventheader">
			<div class="eventtitle">
				<h1><%= f.text_field :title, :value => "TITEL" %></h1>
			</div>
		</div>

		<div>
			<table class="table">
				<tr>
					<td class="col-sm-1"> <%= image_tag("default/defaultevent.png", :size => "200x200", :alt => "Event Pic", :id => "eventpicture", class: "img-responsive") %> </td>
					<td>					<pre> <%= f.text_area :description, :class => "form-control", :value => "BESCHREIBUNG" %> </pre></td>
				</tr>
			</table>
		</div>

		<table class="table">
			<thead>
				<th>Veranstaltungsinformationen</th>
			</thead>
			<tr>
				<td> Veranstalter </td>
				<td> Veranstaltungszeitraum </td>
				<td> Veranstaltungsort </td>
				<td> Hobby </td>
			</tr>
			<tr>
				<td>
				<div class="creator_image">
					<a href="/users/<%= current_user.id%>"> <%= image_tag((current_user).image_url, :size => "85x85", :alt => "Profile Pic", :id => "profilepicture", :class => "item_images") %> </a>
				</div>
				<div class="creator_name">
					<a href="/users/<%= current_user.id%>"> <%= current_user.firstname %>
					<br />
					<%= current_user.lastname %>
				</td>
				</a>
	</div>
	<td> <%= f.datetime_select :take_place_timestamp %> </td>
	<td> 
		<%= f.text_field :explicit_location, :class => "form-control", :value => "Genauer Ort" %> </br> 
		<%= "ORT" %> 
	</td>
	<td> HOBBY </td>
	</tr>
	</table>

	<div class="participants">
		Anzahl Teilnehmer: <%= f.text_field :max_participants, :class => "form-control", :value => "-1" %> (-1 = unbegrenzt)
	</div>
</div>
</div>
<div class="savebutton">
<%= f.hidden_field :creator_id , :value => current_user.id %>
<%= f.hidden_field :location_id , :value => "1" %>
<%= f.hidden_field :image , :value => "default/defaultevent.png" %>
<%= f.submit "Speichern", :class => "btn btn-primary" %>
</div>
<% end %>