<div class="container">
	<div class="main-content-box">
		<div class="eventheader">
			<div class="eventtitle">
				<h1><%= @event.title %></h1>
			</div>
			<div class="editbutton">
				<h1> <% if current_user.id == @event.creator_id %>
				<%= link_to "Bearbeiten", edit_event_path(@event), class: "btn" %>
				<% else %>
				<% end %> </h1>
			</div>
		</div>

		<div class="picture_and_description">
			<table class="table">
				<tr>
					<td class="col-sm-1"> 
						<%= image_tag("events/"+@event.hobby_id.to_s+".jpg", :size => "200x200", :alt => "Event Pic", :id => "eventpicture", class: "img-responsive") %> 
					</td>
					<td>
						<div class="descripton_text">
							<%= @event.description %>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<table class="table">
			<thead>
				<th>Veranstaltungsinformationen</th>
			</thead>
			<tr>
				<td> Veranstalter </td>
				<td> Veranstaltungszeitraum </td>
				<td> Veranstaltungsort </td>
				<td> Hobby </td>
			</tr>
			<tr>
				<td>
				<div class="creator_image">
					<a href="/users/<%= (@event.creator).id%>"> <%= image_tag((@event.creator).image_url, :size => "85x85", :alt => "Profile Pic", :id => "profilepicture", :class => "item_images") %> </a>
				</div>
				<div class="creator_name">
					<a href="/users/<%= (@event.creator).id%>"> <%= (@event.creator).firstname %>
					<br />
					<%= (@event.creator).lastname %>
				</td>
				</a>
	</div>
	<td> <%= (@event.take_place_timestamp).strftime("%d.%m.%Y - %H:%M") %> </td>
	<td> <%= @event.explicit_location %> </td>
	<td> 
		<%= @hobbies.find(@event.hobby_id).name %>
	</td>
	</tr>
	</table>

	<div class="messages">

		<div class="form-group">
			<div id="write_comments_id">
			<% @users_events.each do |user| %>
				<% if user.user_id == current_user.id %>
					<%= form_for @new_comment, :url => comment_path, :html => {:method => :post} do |f| %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.text_area :message, :class => "form-control" %>
					<%= f.hidden_field :event_id , :value => params[:id] %>
					<%= f.submit "Senden", :class => "btn btn-default" %>
					<% end %>
					<% break %>
				<% end %>
			<% end %>
			</div>
			<br />
			<br />
			<div class = "comments">
				<% @comments.reverse_each do |comment| %>
				<div text-align=left>
					<a href="/users/<%= comment.user_id%>"> <b><%= image_tag(@users.find(comment.user_id).image_url, :size => "30x30", :alt => "Profile Pic", :id => "profilepicture", :class => "item_images") %><%= @users.find(comment.user_id).firstname %> </b> (<%= comment.created_at %>) <b>:</b> </a>
					<br />
					-><%= comment.message %>
				</div>
				<% end %>
			</div>
		</div>

	</div>
	<div class="participants">
		<b>Teilnehmer <%= @users_events.size %> von
		<% if @event.max_participants < 0 %>
		unbegrenzt
		<% else %>
		<%= @event.max_participants %></b>
		<% end %>
		<br />
		<% @users_events.each do |user| %>
		<div id="<%= user.user_id %>">
			<a href="/users/<%= user.user_id%>"><%= image_tag((@users.find(user.user_id)).image_url, :size => "60x60", :alt => "Profile Pic", :id => "profilepicture", :class => "item_images") %>
			<%= @users.find(user.user_id).firstname %> </a></br>
		</div>
		<% end %>
	</div>
</div>
<div class="show_final_buttons">
<% found = false %>
<% @users_events.each do |user| %>
	<% if current_user.id == user.user_id %>
		<div class="show_event_resigncontainer" id="show_event_resigncontainer_id">
		    <span onclick="resignEventShow(<%= @event.users_events.find{ |ue| ue.user_id == current_user.id}.to_json %>)">
		      <i style="color: #FF4136" class="fa fa-trash fa-2x"></i>&nbsp;Austragen
		    </span>
		</div>
		<% found = true %>
		<% break %>
	<% else %>
	<% end %>
<% end %>
<% if found == false %>
	<div class="show_event_resigncontainer" id="show_event_resigncontainer_id">
	    <span onclick="participateEvent(<%= @event.id %>, '<%=@event.title %>')"><i id="acceptButton" class="fa fa-check fa-2x"></i>&nbsp;Teilnehmen</span>
	</div>
<% end %>
</div>
</div>
