<div class="container">
	<div class="main-content-box">
		<h1><%= @event.title %></h1>
		<table class="table">
			<tr>
				<td class="col-sm-1"> 
					<%= image_tag(@event.image_url, :size => "150x150", :alt => "Event Pic", :id => "eventpicture", class: "img-responsive") %>
				</td>
				<td>				<pre> <%= @event.description %> </pre></td>
			</tr>
		</table>

		<table class="table">
			<thead>
				<th>Veranstaltungsinformationen</th>
			</thead>
			<tr>
				<td> Veranstalter </td>
				<td> Veranstaltungszeitraum </td>
				<td> Veranstaltungsort </td>
				<td> Hobby </td>
			</tr>
			<tr>
				<td> 
				<%= image_tag((@event.creator).image_url, :size => "85x85", :alt => "Profile Pic", :id => "profilepicture", :class => "item_images") %>
				<br />
				<%= (@event.creator).firstname %>
				<br />
				<%= (@event.creator).lastname %> </td>
				<td> <%= @event.take_place_timestamp %> </td>
				<td> <%= @event.explicit_location %> </br> <%= (@event.location).name %> </td>
				<td> <% @events_hobbies.each do |hobby| %>
				<%= @hobbies.find(hobby.hobby_id).name %> </br>
				<% end %> </td>
			</tr>
		</table>

		<div class="messages">
			<form>
				<div class="form-group">
					<textarea type="text" class="form-control" id="messageboard_message" placeholder="Nachricht" rows="3"></textarea>
					<button type="submit" class="btn btn-default">
						Senden
					</button>
					<br />
					<br />
					<div class = "comments">
						<% @comments.each do |comment| %>
						<div text-align=left>
							<b><%= @users.find(comment.user_id).firstname %> </b> (<%= comment.created_at %>) <b>:</b>  <br />
								-><%= comment.message %>
								</div>
						<% end %> 
					</div>
				</div>
			</form>
		</div>
		<div class="participants">
			<b>Teilnehmer <%= @users_events.size %> von
			<% if @event.max_participants < 0 %>
			unbegrenzt
			<% else %>
			<%= @event.max_participants %></b>
			<% end %>
			<br />
			<% @users_events.each do |user| %>
			<%= @users.find(user.user_id).firstname %> </br>
			<% end %>
		</div>


<div class="temp">
	<%= form_for @new_comment do |f| %>
		<%= f.text_field :user_id, :value => @event.creator.id %>
		<%= f.text_area :message %>
		<%= f.text_field :event_id , :value => params[:id] %>
		<%= f.submit "Senden" %>
		<% end %>
</div>
		
	</div>
</div>